# Dependencies
node_modules/
src/backup/
# Next.js build output
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Optional cache
.cache/
git rm -r --cached .next