/* ============================= */
/* DATE PICKER SAFE CUSTOM CSS */
/* ============================= */

/* Upcoming dates */
::-webkit-calendar-picker-day {
  background-color: #e3f2fd;
  color: #000;
}

/* Hover date */
::-webkit-calendar-picker-day:hover {
  background-color: #90caf9;
}

/* Clicked / active date */
::-webkit-calendar-picker-day:active {
  background-color: #1976d2;
  color: #fff;
}

/* Disabled dates (past) */
::-webkit-calendar-picker-day:disabled {
  background-color: #eeeeee;
  color: #9e9e9e;

}


